
@font-face{
src: url(fonts/NyankoFont-R953W.ttf);
font-family: catfont;
}

@font-face{
src: url(fonts/Occlupanidfont2-Regular.ttf);
font-family: panfont;
}

@font-face{
src: url(fonts/Cattie-Regular.ttf);
font-family: catfontreadable;
}

.readable{
	font-family: catfontreadable ;
	font-weight: lighter;
}

.readableLink{
	font-family: catfontreadable ;
	font-weight: lighter;
	padding: 10px;
	font-size: .9em;
}

audio{
display: block;
background-image: url(lightgalaxy.jpg) ;
padding: 10px;
border: #f299eb 7px ridge;
margin-left:auto;
margin-right: auto;
cursor: url('clickcur.png'), auto;
}

h1,h2{
background-color: rgba(255,255,255,.6);
padding: 15px ;
font-size: 60px ;
text-align: center;
border-radius: 20px; 
margin-left:30px ;
margin-right:30px ;
}

.clickmenu{
	font-family: panfont;
	font-size: 30px;
	background-color: white ;	
}

.mau{
display: block;
margin-left: auto;
margin-right: auto;	
padding: 15px;
border:white 10px dashed;
}


.pictures{
display: block;
margin: auto; 

border-color: pink;
 border-width: 7px;
 border-style: solid;
 padding: 10px;
 background-color: purple;
  border-radius: 15px 50px;
}

.textbox{
	margin: 40px;
	background-image: url(lightgalaxy.jpg) ;
	padding: 10px;
	border: #f299eb 7px ridge;
	border-radius: 20px;
	
}

a:link{
	color: #fca2f6;
	background-color: #4f284c;
	padding: 10px;
}

a:visited{
	color: #662861;
	background-color: #ba49b2;
	padding: 10px;
}

a:hover{
	color: #fca2f6;
	background-color: #cf1fc1;
	padding: 10px;
	cursor: url('clickcur.png'), auto;
}

html{
	cursor: url('defaultcur.png'), auto;
}

body{
 color: #521d4e; 
font-size: 40px ;
font-family: catfont;
line-height: 150%;
}

.credit{
color: white;
font-family: arial;
font-size: 20px;
margin-left: 20px;
}

.span{
	color:#852e7e ;
}

.highlighted {
background-color: rgba(255,255,255,.6);
margin-left:30px ;
margin-right:30px ;
}

.oblique {
font-family: panfont;
font-style: oblique;
background-color: rgba(255,255,255,.6);
margin-left:30px ;
margin-right:30px ;
}

*{
  margin: 0px;
  padding: 0px;
}

.main {
  background-image: url(backgroundyayacat.gif);
}

.firstsect{
border-top: white 10px ridge;
  background-image: url(galaxy.jpg);
}

.firstsecnoline{
  background-image: url(backgroundyayacat.gif);
}





